# Python Fundamentals

## 1.Write Python code that prints your name, student number and email address.

In [208]:
print("Name:Maria Preethi") 
print("Student no.:38")
print("Email :preethi070@yahoo.co.in")

Name:Maria Preethi
Student no.:38
Email :preethi070@yahoo.co.in

## 2.Write Python code that prints your name, student number and email address using escape sequences.

In [210]:
print("Name:Maria Preethi \nStudent no.:38 \nEmail :preethi070@yahoo.co.in")

Name:Maria Preethi
Student no.:38
Email :preethi070@yahoo.co.in

## 3.Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7.

In [212]:
n1=14
n2=7
a=n1+n2
s=n1-n2
m=n1*n2
d=n1/n2
print("Sum of no.'s :",a)
print("Difference between no.'s :",s)
print("Multiplying the no.'s :",m)
print("Dividing the no.'s :",d)

Sum of no.'s : 21
Difference between no.'s : 7
Multiplying the no.'s : 98
Dividing the no.'s : 2.0

## 4.Write Python code that displays the numbers from 1 to 5 as steps.

In [1]:

     for a in range(1,6):
         print(a)

1
2
3
4
5

## 5.Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen: 
An example runs of the program:  
"SDK" stands for "Software Development Kit", whereas 
"IDE" stands for "Integrated Development Environment".

In [216]:
print('"SDK" stands for "Software Development Kit", whereas\n"IDE" stands for "Integrated Development Environment"')

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment"

## 6.Practice and check the output
print("python is an \"awesome\" language.")

print("python\n\t2023")

print('I\'m from Entri.\b')

print("\65")

print("\x65")

print("Entri", "2023", sep="\n")

print("Entri", "2023", sep="\b")

print("Entri", "2023", sep="*", end="\b\b\b\b")

In [21]:
print("python is an \"awesome\" language.")

print("python\n\t2023")

print('I\'m from Entri.\b')

print("\65")

print("\x65")

print("Entri", "2023", sep="\n")

print("Entri", "2023", sep="\b")

print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

## 7.Define the variables below. Print the types of each variable.
## What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?

In [220]:
variable1=1
variable2=2.1
variable3="3"
print("Type of variable1 :", type(variable1))
print("Type of variable2 :", type(variable2))
print("Type of variable3 :", type(variable3))
Sum=variable1+variable2+int(variable3)
print("Sum of variables is:",Sum)
print("Datatype of variable \"Sum\" is",type(Sum))

Type of variable1 : <class 'int'>
Type of variable2 : <class 'float'>
Type of variable3 : <class 'str'>
Sum of variables is: 6.1
Datatype of variable "Sum" is <class 'float'>

## 8.Calculate the number of minutes in a year using variables for each unit of time.
## Print a statement that describes what your code does also.
## Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
## (hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [5]:
no_of_days_yr=365   # no of days in a year
m_in_hour=60       # Minutes in an hour
h_in_day=24        # Hour in a day
m_in_year=m_in_hour*h_in_day*no_of_days_yr # Calcluates minutes in a year
print("The total minutes in a year is calculated by multiplying minutes in hour,hours in day and no of days in a year")
print("Total no. of minutes in an year=",m_in_year)

The total minutes in a year is calculated by multiplying minutes in hour,hours in day and no of days in a year
Total no. of minutes in an year= 525600

## 9.Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.

In [15]:
Name=input("Please enter your name:")
print("Hi",Name.capitalize(),"\b,Welcome to Python Programming!")

Please enter your name: sam

Hi Sam,Welcome to Python Programming!

## 10.Name your file: PoundsToDollars.py
## Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($)

In [17]:
in_pounds=float(input("Enter amount in pounds (£):"))
to_dollars=in_pounds*1.22
print(in_pounds,"pounds is equilvalent to",to_dollars,"dollars")

Enter amount in pounds (£): 10

10.0 pounds is equilvalent to 12.2 dollars